@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css" asp-append-version="true" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="account-container">
            <div class="profile-container">
                <div class="profile-picture">
                    <img id="profile-picture" class="profile-picture" src="@Url.Content(ViewBag.RelativePath)">    
                </div>
                <div class="profile-username">@User.Identity.Name</div>
            </div>
            <div class="profile-actions">
                <div id="change-profile-photo">
                    <form method="post" enctype="multipart/form-data" name="file">
                        <input type="file" id="imageInput" name="image" accept="image/*" style="display: none;" />
                        <a href="" id="change-profile-photo-anchor">Change Profile Photo </a>
                     </form>
                </div>
            </div>
            <div class="user-infos">
                <div>@User.FindFirst(ClaimTypes.Email)?.Value</div>
            </div>
        </div>
    </div>
</body>
<script src="/js/views/account.js" type="module" asp-append-version="true" async></script>
</html>