@model IEnumerable<PullAt.Models.User>

<table>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Username</td>
            <td>@user.Password</td>
        </tr>
    }
</table>