@model PullAt.Models.User
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="credential-container">
            <h4>Login</h4>
            <hr />
            <form action="/User/Login" method="post">
                <div class="input">
                    <label for="username">Username </label>
                    <input asp-for="Username" type="text" id="username" name="Username" required>
                </div>
                <div class="input">
                    <label for="password">Password </label>
                    <input asp-for="Password" type="Password" id="password" name="Password" required>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="showPassword" />
                    <label for="showPassword">Show Password</label>
                </div>
                <div>
                    @Html.ValidationSummary(true, "")
                </div>
                <input type="submit" value="Login" class="submit-button" />
            </form>
        </div>
    </div>
    <script src="~/js/views/login.js" type="module" asp-append-version="true" async></script>
}
</body>
</html>

