@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="centeredContainer">
    <p style="padding:auto 0">Its a demo cloud project that has been coorperated by Arda PullAt</p>
</div>
