<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <div class="introduction-container">
            <h1 class="display-4">Welcome stranger!</h1>
            <p>I am developing my first web application project using ASP.NET Core, designed to store and manage user assets securely on a server. The project functions as a demo cloud platform, allowing users to upload, organize, and access their files from anywhere. This experience is helping me deepen my understanding of web development, server-side logic, and API integration while building a practical and scalable solution.</p>
        </div>
    </div>
</body>
</html>

