@{
    ViewData["Title"] = "Home Page";
}
<div class="outerClass">
    <div class="centerContainer">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core"></a>building Web apps with ASP.NET Core</a>.</p>
        <p >Its a demo cloud project that has been coorperated by Arda PullAt</p>
    </div>
</div>
