.file-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    padding: 10px;
}
.file-item {
    text-align: center;
    border: 1px solid #ccc; 
    padding: 10px; 
    overflow: hidden;
}
.file-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.file-item:hover{
    cursor: pointer;
}