html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
body {
    margin:0;
    background-image: url('../Assets/Horses_having_rest_from_life.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    height: 100vh;
    font-weight: 200;
    font-family: "Roboto Flex", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}

.logoLabel{
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.outerClass{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.centerContainer{
    width: 500px;
    background-color: rgba(249, 249, 249, 0.6);
    overflow: auto;
    transition: background-color 0.3s ease;
    padding:50px;
    text-align:center;
    margin:0 auto;
}
.bottom-div {
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%; 
    padding: 10px; 
}
.centerContainer:hover {
    background-color: rgba(249, 249, 249, 0.8);
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(249, 249, 249, 0.6);
  padding:0;
}
.input{
  display: inline-block;
  margin-top: 10px;
  padding-left: 10px;
}
.checkbox{
  margin-top:10px;
  text-align:left;
  margin-left:72px
}
.authButtons {
  display: flex;
  flex-direction: row;
}
.authButtons > div {
transition: background-color 0.3s ease;
margin-left: 10px;
padding: 4px 10px 4px 10px;
}
.authButtons > div:hover {
  background-color: rgba(249, 249, 249, 0.8);
}

